.DS_Store
node_modules
.cache
.env

actions.spec.js 
aliasing.spec.js 
assertions.spec.js
connectors.spec.js
cookies.spec.js
cypress_api.spec.js
files.spec.js 
local_storage.spec.js
location.spec.js 
misc.spec.js 
navigation.spec.js
network_requests.spec.js 
querying.spec.js 
spies_stubs_clocks.spec.js
testing.spec.js 
traversal.spec.js 
utilities.spec.js 
window.spec.js 
waiting.spec.js 
viewport.spec.js 